
.sub_container{

    height: 770px;
    width: 90vw;
    margin: 10px;
}.sub_container_title{
    all: unset;
    color: #475cc4;
    height: 75px;
    font-size: 50px;
    font-weight: 300;
    margin: 10px 40px;
    cursor: pointer;
    
}
.sub_container_title:hover{
    text-decoration: underline;

}
.Item_container{
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    height: 580px;
}
.Item{
    scroll-snap-align: start;
    background-color: #ffffff;
    width: fit-content;
    width: 330px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    margin: 0 40px;
    
}
.Item_picture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
}
.Item_picture img{
    width: auto;
    height: 100%;
}
.Item_name{
    padding: 40px 0 0 0;
    font-weight: 300;
    font-size: 20px;
}

.Item_category{
    padding: 20px 0;
    font-weight: 300;
    
}
.Item hr{
    width: 100%;
    height: 1px;
    background-color: #33428d;
}
.Item_price{
    color: #33428d ;
    width: 100%;
    text-align: right;
    font-size: 20px;
    padding: 20px 0;
}
.Item_buy{
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #33428d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Item_buy:hover{
    background-color: #475cc4
}

@media (pointer: coarse) and (orientation: portrait) and (max-width: 700px){

    .Item_container{
        display: flex;
        justify-content: flex-start;
        align-items: center;  
        margin-left: 10%;
    }
    .sub_container_title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    
}
